/* burger start */
.burger {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}
.burger.burger--active .burger-line {
  opacity: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.burger.burger--active::after {
  width: 45px;
  -webkit-transform: translateY(-16px) rotate(-135deg);
          transform: translateY(-16px) rotate(-135deg);
}
.burger.burger--active::before {
  -webkit-transform: translateY(13px) rotate(135deg);
          transform: translateY(13px) rotate(135deg);
}
.burger::before, .burger::after {
  content: "";
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 45px;
  height: 4px;
  background-color: #00AEEF;
  display: block;
  margin-bottom: 10px;
}
.burger::after {
  margin-bottom: 0;
  margin-left: auto;
}
.burger-line {
  background-color: #00AEEF;
  width: 45px;
  height: 4px;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

/* burger end */
/* header start */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 0;
  z-index: 100;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header.active {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}
.header.active .header__contacts {
  top: 5px;
}
.header.active .header__contacts-email, .header.active .header__contacts-whatsaap {
  display: none;
}
.header__logo {
  margin-right: 45px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
.header__item-box {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  display: none;
}
.header__language {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.header__language a {
  padding: 0 10px;
}
.header__language a:hover {
  font-weight: 900;
}
.header__language a + a {
  border-left: 0.6px solid #363B57;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-item + .header__list-item {
  margin-left: 60px;
}
.header__list-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.header__contacts {
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 30px;
}
.header__contacts-phone {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 16px;
  padding-left: 40px;
  position: relative;
}
.header__contacts-phone::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/phone.svg);
}
.header__contacts a {
  display: block;
  position: relative;
  margin-left: 40px;
  padding-left: 30px;
  font-size: 13px;
  line-height: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__contacts a::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  background-repeat: no-repeat;
}
.header__contacts-email {
  margin-bottom: 14px;
}
.header__contacts-email::before {
  background-image: url(../images/icons/message.svg);
  width: 21.33px;
  height: 15px;
}
.header__contacts-whatsaap::before {
  background-image: url(../images/icons/whatsapp.svg);
  width: 20px;
  height: 20px;
}

/* header end */