
/* foundation start */

.foundation {
    transform: translateY(50%);

    &__inner {
        background-color: #00A0E3;
        border-radius: 88px 33px 77px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 41px 69px 47px 250px;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 70px;
        width: 126.17px;
        height: 269px;
        object-fit: cover;
    }

    &__title {
        font-family: 'Cuprum', sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        margin-bottom: 9px;
    }

    &__text {
        font-family: 'Calibri-Light';
        font-size: 18px;
        line-height: 109%;
        color: #fff;
    }

    &__form {
        display: flex;
        align-items: center;
        margin-top: 18px;

        &-btn {
            padding: 19px 29px;
            border: none;
            margin-left: 34px;
        }
    }

    input {
        outline: none;
    }

    input:not(.foundation__form-btn) {
        padding: 19px 30px;
        font-size: 16px;
        line-height: 109%;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 55px;
        background-color: transparent;
        width: 323px;

        &::placeholder {
            font-size: 16px;
            line-height: 109%;
            color: #FFFFFF;
        }
    }

    input:not(.foundation__form-btn) + input:not(.foundation__form-btn) {
        margin-left: 23px;
    }
}

/* foundation end */

/* footer start */

#contacts {
    padding-top: 100px;
    margin-top: -100px;
}

.footer {
    background: linear-gradient(246.4deg, rgba(210, 242, 255, 0.7) 12.19%, rgba(224, 255, 246, 0.7) 93.71%);
    padding: 185px 0 45px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        max-width: 182px;

        &-icons {
            display: flex;
            align-items: center;
            margin: 30px 0;
        }

        &-link {
            &:hover {
                .icon {
                    fill: #00A0E3;
                }
            }
        }

        &-instagram {
            margin: 0 23px;
            padding: 0 23px;
            border-right: 0.6px solid #B3D5E0;
            border-left: 0.6px solid #B3D5E0;
        }

        &-contact {
            a {
                display: block;
                position: relative;
                padding-left: 30px;
                font-size: 13px;
                line-height: 16px;
                transition: all .2s linear;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    background-repeat: no-repeat;
                }
            }
        }

        &-email {
            &::before {
                background-image: url(../images/icons/message.svg);
                width: 21.33px;
                height: 15px;
                top: 0;
            }
        }

        &-whatsaap {
            margin-bottom: 26px;

            &::before {
                background-image: url(../images/icons/whatsapp.svg);
                width: 20px;
                height: 20px;
                top: -3px;
            }
        }
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 28px;
    }

    &__list {

        &-item {
            font-size: 14px;
            line-height: 16px;

            & + & {
                margin-top: 20px;
            }
        }
    }

    &__contacts {
        max-width: 200px;

        &-item {
            padding-left: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                background-repeat: no-repeat;
            }

            & + & {
                margin-top: 20px;
            }
        }

        &-address::before {
            background-image: url(../images/icons/address.svg);
            width: 13.71px;
            height: 18px;
            top: 5px;
        }

        &-phone::before {
            background-image: url(../images/icons/phone-blue.svg);
            width: 18px;
            height: 18px;
            top: 8px;
        }

        &-mode::before {
            background-image: url(../images/icons/mode.svg);
            width: 17px;
            height: 17px;
            top: 8px;
        }


        &-title {
            font-size: 15px;
            line-height: 18px;
        }

        &-text {
            font-size: 13px;
            line-height: 15px;
        }
    }
}

/* footer end */
